@use "../../variables";

.nav-item > .nav-link:hover {
  color: variables.$herne-yellow;
}

.nav-button {
  color: variables.$herne-text-white;
  text-decoration: none;

  :hover,
  :focus {
    color: variables.$herne-yellow;
  }
}
