<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/Herne-Logo_negativ.png" alt="Stadtlogo Herne" width="200">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Übersicht</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Suche</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Karte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Kalender</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Archiv</a>
        </li>
      </ul>
      <div class="navbar-nav mb-2 mb-lg-0">
        <a class="nav-link link-light" href="#"><i class="bi bi-bell-fill"></i></a>
        <a class="nav-link link-light" href="#"><i class="bi bi-gear-fill"></i></a>
      </div>
    </div>
  </div>
</nav>
