<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img ngSrc="/Herne-Logo_negativ.png" alt="Stadtlogo Herne" width="200" height="48" priority/>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse fs-4" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/uebersicht"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Übersicht</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/suche"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Suche</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/karte"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Karte</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/archiv"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Archiv</a
          >
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0 gap-2">
        @if(currentUser !==''){
          <li class="nav-item d-flex align-items-center">
          <span class="text-white me-2">
            <i class="bi bi-person-circle me-1"></i>
            {{ currentUser }}
          </span>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-light btn-sm" (click)="logout()">
              <i class="bi bi-box-arrow-right me-1"></i>
              Logout
            </button>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
