<div class="layout">
    <div class="d-flex flex-column gap-2 w-100">
        @if (markers$ | async; as markers) {
            <div class="map" leaflet [leafletLayersControl]="layersControl" [leafletOptions]="options">
                @for (marker of markers; track marker) {
                    <div [leafletLayer]="marker.marker"></div>
                }
            </div>
        } @else {
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        }

        @let akt = chosenImmobilie();
        @if (akt) {
            <div>
                <app-immo-uebersichtskarte [immobilie]="akt"></app-immo-uebersichtskarte>
            </div>
        }
    </div>
    <div class="search">
        <app-suche (searchedImmobilien)="immobilien$.next($event)"></app-suche>
    </div>
</div>
