<div class="mx-5 my-2">
  <h2>Kartenübersicht</h2>
  <div class="d-flex flex-row">
    <div class="container">
      @if (markers$ | async; as markers) {
        <div class="map-size" leaflet [leafletLayersControl]="layersControl" [leafletOptions]="options">
          @for (marker of markers; track marker) {
              <div [leafletLayer]="marker"></div>
          }
        </div>
      } @else {
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      }
    </div>
    <div class="container">
      @let akt = chosenImmobilie();
      @if (akt) {
        Bezeichnung: {{ akt.bezeichnung }}
      }
      <app-suche (searchedImmobilien)="immobilien$.next($event)"></app-suche>
    </div>
  </div>
</div>
