@use "variables";

$theme-colors: (
  primary: variables.$herne-green,
  secondary: variables.$herne-blue,
  success: variables.$herne-green,
  info: variables.$herne-yellow,
  warning: variables.$herne-yellow,
  danger: variables.$herne-red,
  light: variables.$herne-background-white,
  dark: variables.$herne-background-black,
);

$focus-ring-color: rgba(variables.$herne-green, .25);


@import "../node_modules/bootstrap/scss/bootstrap.scss";
