/* You can add global styles to this file, and also import other style files */
:root {
  /* Colors from official Herne website */
  --herne-green: #007d30;
  --herne-text-black: #000000;
  --herne-text-grey: #4e4e4e;
  --herne-background-white: #ffffff;
  --herne-blue: #007bbf;
  --herne-background-grey: #34373a;
  --herne-background-black: #292a2c;
  --herne-yellow: #f2a21d;
  --herne-red: red;

  --herne-green-rgb: 0, 125, 48;
  --herne-text-black-rgb: 0, 0, 0;
  --herne-text-grey-rgb: 78 ,78, 78;
  --herne-background-white-rgb: 255, 255, 255;
  --herne-blue-rgb: 0, 123, 191;
  --herne-background-grey-rgb: 52, 55, 58;
  --herne-background-black-rgb: 41, 42, 44;
  --herne-yellow-rgb: 242, 162, 29;
  --herne-red-rgb: 255, 0, 0;


  /* Overwrite bootstrap colors */
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: var(--herne-green);
  --bs-secondary: #6c757d;
  --bs-success: var(--herne-green);
  --bs-info: var(--herne-yellow);
  --bs-warning: var(--herne-yellow);
  --bs-danger: var(--herne-red);
  --bs-light: var(--herne-background-white);
  --bs-dark: var(--herne-background-black);
  --bs-primary-rgb: var(--herne-green-rgb);
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: var(--herne-green-rgb);
  --bs-info-rgb: var(--herne-yellow-rgb);
  --bs-warning-rgb: var(--herne-yellow-rgb);
  --bs-danger-rgb: var(--herne-red-rgb);
  --bs-light-rgb: var(--herne-background-white-rgb);
  --bs-dark-rgb: var(--herne-background-black-rgb);
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: var(--herne-text-grey-rgb);
  --bs-body-bg-rgb: var(--herne-background-white-rgb);
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: var(--herne-text-grey);
  --bs-body-bg: var(--herne-background-white);
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: var(--herne-green);
  --bs-link-hover-color: var(--herne-yellow);
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}
