@use '@angular/material' as mat;

/* Colors from official Herne website */
$herne-green: #007d30;
$herne-text-black: #000000;
$herne-text-grey: #4e4e4e;
$herne-background-white: #ffffff;
$herne-text-white: #ffffff;
$herne-blue: #007bbf;
$herne-background-grey: #34373a;
$herne-background-black: #292a2c;
$herne-yellow: #f2a21d;
$herne-red: red;

$theme-colors: (
  primary: $herne-green,
  secondary: $herne-blue,
  success: $herne-green,
  info: $herne-yellow,
  warning: $herne-yellow,
  danger: $herne-red,
  light: $herne-background-white,
  dark: $herne-background-black,
);

$focus-ring-color: rgba($herne-green, .25);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

:root {
  @include mat.progress-spinner-overrides((
          active-indicator-color: orange,
  ));
}
