.list {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 1em;
}
form {
  display: flex;
  margin-bottom: 2vh;

  .btn {
    margin-left: 1vh;
  }

  label {
    margin-right: 1vh;
  }
}
